@model IEnumerable<WmsProduct.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<ul>
    @foreach (var product in Model)
    {
    <li>@product.Description exists in Subcategory: @product.SubCategory.Name</li>

    }
</ul>


